@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://azlanio-solutions.netlify.app/"> the Author.</a> The stack used for this is DotNet, C#, MySQL, Amazon Web Services.</p>
    <h1 class="display-4">CHEERS</h1>
</div>
