@using AzlanioBaseWebApp.Views.Pages

<head>
    <link rel="stylesheet" href="~/css/placeholder.css" type="text/css" />
    <script type="text/javascript" src="/js/placeholder.js"></script>
</head>

<h4> Placehoolder Page!</h4>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

